* {
  box-sizing: border-box;
  color: white;
  padding: 0;
}

body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_NVUNldsUnvI0W04E0fQXHKF3rMtfMnXq2w&usqp=CAU');
  background-size: contain;
}

header {
  font-size: 30px;
  text-align: center;
}

img {
  width: 100px;
}

.solar-system {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.solar-system h2 {
  font-size: 25px;
}

.container {
  display: flex;
  flex-direction: row;
}

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.mission-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.mission-card {
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 2px;
  text-align: center;
  width: 200px;
}
